/** entrypoint for your custom scss **/
$dp-styles-font-path: "~@deskpro/react-components/src/styles/fonts/";
@import "~@deskpro/react-components/src/styles/main.scss";

.dp-youtrack-container {
  .dp-heading {
    margin-bottom: 0;
  }

  .dp-button {
    width: 100%;
  }

  .dp-select .Select-menu-outer > * {
    overflow-x: hidden !important;
  }

  a {
    color: $dp-sonic-primary !important;
  }

  img {
    max-width: 100%;
    margin: 8px 0 4px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  code {
    font-size: 12px;
  }
}

.dp-youtrack-issues {
  padding-left: 0 !important;
  margin-top: 0;
  margin-bottom: 20px !important;
}

.dp-youtrack-issue {
  p {
    padding: 0;
    margin: 0;
  }

  .dp-badge {
    margin-right: 2px;
  }

  .dp-youtrack-delete-icon {
    opacity: 0;
    color: $dp-knuckles-primary;
    cursor: pointer;

    &:hover {
      color: $dp-knuckles-tertiary;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }

  &:hover {
    .dp-youtrack-delete-icon {
      opacity: 1.0;
    }
  }
}
